<form method="post" action="/">
  
  <p><label for="pirate[name]">Pirate Name:</label><input type="text" name="item" id="item">
  <button type="submit" value="submit">Submit</button>
  
  
  
</form>
